{% extends 'base.html' %}
{% block content %}
<div class="row">
    <a href="{% url 'location:idx' %}" class=" col-auto text-center "><button class="btn btn-lg btn-outline-primary m-3"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-backspace" viewBox="0 0 16 16">
        <path d="M5.83 5.146a.5.5 0 0 0 0 .708L7.975 8l-2.147 2.146a.5.5 0 0 0 .707.708l2.147-2.147 2.146 2.147a.5.5 0 0 0 .707-.708L9.39 8l2.146-2.146a.5.5 0 0 0-.707-.708L8.683 7.293 6.536 5.146a.5.5 0 0 0-.707 0z"/>
        <path d="M13.683 1a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-7.08a2 2 0 0 1-1.519-.698L.241 8.65a1 1 0 0 1 0-1.302L5.084 1.7A2 2 0 0 1 6.603 1h7.08zm-7.08 1a1 1 0 0 0-.76.35L1 8l4.844 5.65a1 1 0 0 0 .759.35h7.08a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1h-7.08z"/>
      </svg></button></a>
      <div class="col-sm-offset-2 col-sm-4">
        <h2>검색창</h2>
        <form method="get" action="{% url 'location:apt_search' %}">
            <label for ="type">Search Types</label>
            <select id="type" name="type" class="form-select form-select-sm my-1">
                <option selected>선택해주세요</option>
                <option value="title">제목</option>
                <option value="apt_transaction_type">타입</option>
            </select>
            <input class="form-control" type="text" placeholder="아파트 이름을 입력해주세요" name="search" value="{{search|default_if_none:'' }} ">
            <input type="hidden" name="location" value="{{location|default_if_none:'' }}">
        <button class="btn btn-primary my-2" type="submit">검색</button>
    </div>

</div>

    <div class="container my-3">
        {% if search %}
        <h5> <b>'{{search}}'</b> 검색 결과입니다.</h5>
        {% endif %}
        <div class="row">
            {% if aptlist %}
                {% for apt in aptlist %}
                <div class="col-3 col-md-3 text-center">
                    <div class="list-group list-group-flush border-bottom scrollarea ">
                        <a href="{{apt.get_absolute_url}}"class="list-group-item list-group-item-action py-3 lh-sm">
                        <div class="list-group-item"
                                <strong class="mb-3">{{apt.apt_name}} {{apt.apt_dong}}</strong>
                        </div>
                        <div class="list-group-item">
                            <span><strong class="mb-1">{{apt.apt_transaction_type}} :</strong> {{apt.apt_price}} 원</span>
                        </div>
                        <div class="list-group-item">
                            <span><strong class="mb-1">{{apt.apt_confirm}} </strong> {{apt.apt_confirm_date}}</span>
                        </div>
                        </a>
                    </div>
                </div>
                {% endfor %}
            {% else %}
                <p>아파트가 매물이 없습니다</p>
            {% endif %}
            </div>
</div>
<ul class="pagination justify-content-center">
    {% if page_obj.has_previous %}
    <li class="page-item">
        <a class="page-link" href="?type={{type}}&search={{search}}&location={{location}}&page={{page_obj.previous_page_number }}">이전</a>
    </li>
    {% else %}
    <li class="page-item disabled">
        <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
      </li>
    {% endif %}
    {% for page_number in   page_obj.paginator.page_range %}
    {% if page_number >= page_obj.number|add:-5 and page_number <= page_obj.number|add:5 %}
        {% if page_number == page_obj.number %}
        
        <li class="page-item active" aria-current="page">
            <a class="page-link" href="?type={{type}}&search={{search}}&location={{location}}&page={{page_number}}">{{page_number}}</a>
          </li>
        {% else %}
        <li class="page-item">
            <a class="page-link" href="?type={{type}}&search={{search}}&location={{location}}&page={{ page_number }}">{{ page_number }}</a>
        </li>
        {% endif %}
        {% endif %}
    {% endfor %}
    {% if  page_obj.has_next %}
    <li class="page-item">
      <a class="page-link" href="?type={{type}}&search={{search}}&location={{location}}&page={{page_obj.next_page_number}}">다음</a>
    </li>
    {% else %}
    <li class="page-item disabled">
      <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
    </li>
    {% endif %}
</ul>
{% endblock %}